{% extends 'template/template.j2.html' %}
{% block content %}
<style>
    .article-item:not(:last-child) {
        padding-bottom: 5px;
        border-bottom: 1px #B0B0B0 solid;
        clear: both;
        /*overflow: hidden;*/
    }
</style>
<div>
    {% for article in articles %}
    <div class="article-item" style="overflow: auto">
        <a href="{{article.path}}">
            <img src="{{article.illustration_path}}" style="float:left; padding-top:5px; padding-right:20px;width:200px; max-height: 150px"/>
        </a>
        <h1><a href="{{article.path}}">{% if article.is_draft %}[Ébauche] {% endif %}{{article.title}}</a></h1>
        <p>{{article.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footerContent %} - <a href="https://github.com/sdenel/blog">Voir sur Github</a>{% endblock %}
